# Check for significance in HEIGHT subsystems

Integrating mouse KO data (from MGI)

8/19/21: updated to be consistent with BMI workflow

In [1]:
# load required packages

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
import pandas as pd
import random

from IPython.display import display

import getpass
import ndex2

import json
import cdapsutil

# need ddot to parse the ontology
import ddot
from ddot import Ontology

# annotate the clusters
# gprofiler prelim annotation
from gprofiler import GProfiler
gp = GProfiler("MyToolName/0.1")

from statsmodels.stats import contingency_tables

import requests

# find human orthologs of mouse genes
import mygene
mg = mygene.MyGeneInfo()

from scipy.stats import hypergeom
from scipy.stats import norm

# latex rendering of text in graphs
import matplotlib as mpl
mpl.rc('text', usetex = False)
mpl.rc('font', family = 'serif')

from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Arial']

sns.set(font_scale=1.4)

sns.set_style('white')

sns.set_style("ticks", {"xtick.major.size": 15, "ytick.major.size": 15})
plt.rcParams['svg.fonttype'] = 'none'

import sys

# % matplotlib inline

DISCLAIMIER: cdapsutil is experimental and may contain errors and interfaces may change

# Load interactome

In [2]:

interactome_uuid='4de852d9-9908-11e9-bcaf-0ac135e8bacf' # for PCNet
# interactome_uuid='275bd84e-3d18-11e8-a935-0ac135e8bacf' # for STRING high confidence
ndex_server='public.ndexbio.org'
ndex_user=None
ndex_password=None
G_int = ndex2.create_nice_cx_from_server(
            ndex_server, 
            username=ndex_user, 
            password=ndex_password, 
            uuid=interactome_uuid
        ).to_networkx()
nodes = list(G_int.nodes)

# pcnet appears to have some self edges... should remove them. 
G_int.remove_edges_from(nx.selfloop_edges(G_int))

# print out interactome num nodes and edges for diagnostic purposes
print('number of nodes:')
print(len(G_int.nodes))
print('\nnumber of edges:')
print(len(G_int.edges))

number of nodes:
18820

number of edges:
2693109

In [3]:
nodes = list(G_int.nodes)

# First load HEIGHT overlap network computed in significance_network_overlap_sampling_210519.ipynb

In [4]:

ndex_server='public.ndexbio.org'
ndex_user=None
ndex_password=None
G_overlap_cx = ndex2.create_nice_cx_from_server(
            ndex_server, 
            username=ndex_user, 
            password=ndex_password, 
            uuid='3c980793-0115-11ec-b666-0ac135e8bacf'
        )


# print out interactome num nodes and edges for diagnostic purposes
G_overlap = G_overlap_cx.to_networkx()
print('number of nodes:')
print(len(G_overlap.nodes))
print('\nnumber of edges:')
print(len(G_overlap.edges))

number of nodes:
488

number of edges:
7272

In [5]:
node_df = pd.DataFrame.from_dict(dict(G_overlap.nodes(data=True)), orient='index')
node_df.head()

,hHeight_seeds,z_rBL,z_hHeight,z_both,rBL_seeds,selected
REXO1L1P,0,2.03807984418225,2.073966593669306,4.226909512064731,0,NaN
SPINK9,0,3.4390189136039973,1.2535453450893113,4.310966150822391,0,NaN
ZNF781,1,2.0085379338411102,2.0659770974356313,4.149593370646417,0,NaN
GTSF1,0,2.638832019000988,1.571261150086052,4.1462942330593915,0,NaN
TPH1,1,3.8591196050315157,1.3833640822010471,5.33856745051849,0,NaN

In [6]:
# compute cosine similarity transformation
from netcoloc import network_colocalization

In [7]:
G_overlap_cosSim = network_colocalization.transform_edges(G_overlap,edge_weight_threshold=0.98)
print(len(G_overlap_cosSim.nodes()))
print(len(G_overlap_cosSim.edges()))

computing the adjacency matrix...
computing the cosine similarity...

/Users/brinrosenthal/anaconda3/lib/python3.7/site-packages/scipy/spatial/distance.py:714: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

rank transforming...
number of transformed edges returned =
1336
488
1336

/Users/brinrosenthal/anaconda3/lib/python3.7/site-packages/netcoloc/network_colocalization.py:241: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  sim_rank.values[[np.arange(sim_rank.shape[0])]*2] = 0

In [11]:
print(len(G_overlap_cosSim.nodes()))
print(len(G_overlap_cosSim.edges()))

488
1336

In [10]:
#upload G_cosSim to ndex
print(len(G_overlap_cosSim.nodes()))
print(len(G_overlap_cosSim.edges()))
G_overlap_cosSim_cx = ndex2.create_nice_cx_from_networkx(G_overlap_cosSim)
G_overlap_cosSim_cx.set_name('rat_human_HEIGHT_CosSim98') 
for node_id, node in G_overlap_cosSim_cx.get_nodes():
    data = node_df.loc[node['n']]
    for row, value in data.items():
        if row == 'd1_seeds' or row == 'd2_seeds' or row=='sum_seeds':
            data_type = 'double'
        elif row=='d1_name' or row=='d2_name':
            data_type='string'
        else:
            data_type = 'double'
        G_overlap_cosSim_cx.set_node_attribute(node_id, row, value, type=data_type)
        
        

# apply a template style (834b6ad4-d2ea-11eb-b666-0ac135e8bacf)
G_overlap_cosSim_cx.apply_template('ndexbio.org','2cbed84b-e5c3-11eb-b666-0ac135e8bacf')

SERVER = input('NDEx server (probably ndexbio.org): ')
USERNAME = input('NDEx user name: ')
PASSWORD = getpass.getpass('NDEx password: ')
network_uuid_NetColoc_CosSim = G_overlap_cosSim_cx.upload_to(SERVER, USERNAME, PASSWORD)

488
1336
NDEx server (probably ndexbio.org): ndexbio.org
NDEx user name: sbrosenthal@health.ucsd.edu
NDEx password: ········
Generating CX

# Build multiscale systems map

In [12]:
cd = cdapsutil.CommunityDetection()

# Run HiDeF on CDAPS REST service
G_hier = cd.run_community_detection(G_overlap_cx, algorithm='hidefv1.1beta',arguments={'--maxres':'10'})

In [13]:
# Print information about hierarchy
print('Hierarchy name: ' + str(G_hier.get_name()))
print('# nodes: ' + str(len(G_hier.get_nodes())))
print('# edges: ' + str(len(G_hier.get_edges())))

Hierarchy name: hidefv1.1beta_(none)_rat_human_height_sampling_z3_edges.txt
# nodes: 54
# edges: 54

In [14]:
G_hier = G_hier.to_networkx(mode='default')
G_hier

nodes = G_hier.nodes()

# print out interactome num nodes and edges for diagnostic purposes
print('number of nodes:')
print(len(G_hier.nodes()))
print('\nnumber of edges:')
print(len(G_hier.edges()))

number of nodes:
54

number of edges:
54

In [15]:
# add node attributes to dataframe for easier access
hier_df = pd.DataFrame.from_dict(dict(G_hier.nodes(data=True)), orient='index')
# relabel nodes in G_ASD
# G_ASD=nx.relabel_nodes(G_ASD,dict(hier_df['CD_CommunityName']))
hier_df['system_ID']=hier_df.index.tolist()
# some columns are not the right type
hier_df['CD_MemberList_Size']=[int(x) for x in hier_df['CD_MemberList_Size'].tolist()]
hier_df['HiDeF_persistence']=[int(x) for x in hier_df['HiDeF_persistence'].tolist()]
hier_df.head()

,CD_MemberList,CD_MemberList_Size,CD_Labeled,CD_MemberList_LogSize,CD_CommunityName,CD_AnnotatedMembers,CD_AnnotatedMembers_Size,CD_AnnotatedMembers_Overlap,CD_AnnotatedMembers_Pvalue,HiDeF_persistence,represents,name,system_ID
0,CDC42EP3 PIH1D1 DRAP1 KDM8 PRR11 PLEKHG4B R3HD...,472,False,8.883,,,0,0.0,0.0,116,C1121,C1121,0
1,HDAC5 PRTFDC1 LOC102724428 YPEL3 MYEOV PBXIP1,6,False,2.585,,,0,0.0,0.0,13,C1152,C1152,1
2,SNAPC2 POLR2I HOXC4 VPS4A MTX1 CCDC85B,6,False,2.585,,,0,0.0,0.0,8,C1153,C1153,2
3,SMARCD2 MRPL49 VPS50 VPS51 DPF2,5,False,2.322,,,0,0.0,0.0,5,C1157,C1157,3
4,PBLD MED16 CRAT TP53INP2 CCDC184,5,False,2.322,,,0,0.0,0.0,5,C1158,C1158,4

# add fraction rat/human seeds

In [17]:
node_df.head()

,hHeight_seeds,z_rBL,z_hHeight,z_both,rBL_seeds,selected
REXO1L1P,0,2.03807984418225,2.073966593669306,4.226909512064731,0,NaN
SPINK9,0,3.4390189136039973,1.2535453450893113,4.310966150822391,0,NaN
ZNF781,1,2.0085379338411102,2.0659770974356313,4.149593370646417,0,NaN
GTSF1,0,2.638832019000988,1.571261150086052,4.1462942330593915,0,NaN
TPH1,1,3.8591196050315157,1.3833640822010471,5.33856745051849,0,NaN

In [18]:
hier_df.index=hier_df['name']
hier_df.head()

H_seeds_overlap = node_df[node_df['hHeight_seeds']=='1'].index.tolist()
print(len(H_seeds_overlap))

R_seeds_overlap = node_df[node_df['rBL_seeds']=='1'].index.tolist()
print(len(R_seeds_overlap))

num_d1_seeds, num_d2_seeds = [],[]
frac_d1_seeds, frac_d2_seeds=[],[]
systems_keep = []
for c in hier_df.index.tolist():
    system_genes = hier_df['CD_MemberList'].loc[c].split(' ')
    num_H_temp = len(list(np.intersect1d(system_genes,H_seeds_overlap)))
    num_R_temp = len(list(np.intersect1d(system_genes,R_seeds_overlap)))
    if (num_H_temp+num_H_temp)>0: # keep the system if it has at least 1 seed genes
        systems_keep.append(c)
        num_d1_seeds.append(num_H_temp)
        num_d2_seeds.append(num_R_temp)
        
        frac_d1_seeds.append(num_H_temp/np.float(len(system_genes)))
        frac_d2_seeds.append(num_R_temp/np.float(len(system_genes)))

        
frac_no_seeds = np.subtract(1.0,np.add(frac_d1_seeds,frac_d2_seeds))

hier_df = hier_df.loc[systems_keep]
hier_df['num_d1_seeds']=num_d1_seeds
hier_df['num_d2_seeds']=num_d2_seeds
hier_df['frac_d1_seeds']=frac_d1_seeds
hier_df['frac_d2_seeds']=frac_d2_seeds
hier_df['frac_no_seeds']=frac_no_seeds
print(len(hier_df))

hier_df.head()

307
127
54

,CD_MemberList,CD_MemberList_Size,CD_Labeled,CD_MemberList_LogSize,CD_CommunityName,CD_AnnotatedMembers,CD_AnnotatedMembers_Size,CD_AnnotatedMembers_Overlap,CD_AnnotatedMembers_Pvalue,HiDeF_persistence,represents,name,system_ID,num_d1_seeds,num_d2_seeds,frac_d1_seeds,frac_d2_seeds,frac_no_seeds
name,,,,,,,,,,,,,,,,,,
C1121,CDC42EP3 PIH1D1 DRAP1 KDM8 PRR11 PLEKHG4B R3HD...,472,False,8.883,,,0,0.0,0.0,116,C1121,C1121,0,302,127,0.639831,0.269068,0.091102
C1152,HDAC5 PRTFDC1 LOC102724428 YPEL3 MYEOV PBXIP1,6,False,2.585,,,0,0.0,0.0,13,C1152,C1152,1,3,1,0.500000,0.166667,0.333333
C1153,SNAPC2 POLR2I HOXC4 VPS4A MTX1 CCDC85B,6,False,2.585,,,0,0.0,0.0,8,C1153,C1153,2,2,2,0.333333,0.333333,0.333333
C1157,SMARCD2 MRPL49 VPS50 VPS51 DPF2,5,False,2.322,,,0,0.0,0.0,5,C1157,C1157,3,4,2,0.800000,0.400000,-0.200000
C1158,PBLD MED16 CRAT TP53INP2 CCDC184,5,False,2.322,,,0,0.0,0.0,5,C1158,C1158,4,2,1,0.400000,0.200000,0.400000

In [19]:
# prune G_hier--> only keep systems with at least one seed gene

nkeep=[]
for n in list(G_hier.nodes()):
    if G_hier.nodes(data=True)[n]['name'] in systems_keep:
        nkeep.append(n)
        

G_hier = nx.subgraph(G_hier, nkeep)
print(len(G_hier.nodes()))
print(len(G_hier.edges()))

54
54

# NOTE: we don't undertake MPO validation for height at the moment (just BMI)

# gprofiler annotation of clusters

In [24]:

# print out GO pathways

# hier_df = hier_df.sort_values('name')

# ....this needs to be much more elegant...

system_name_list = []
for p in hier_df.index.tolist():
    focal_genes=hier_df['CD_MemberList'].loc[p].split(' ')
    print(p)
    print(len(focal_genes))
    if len(focal_genes)>2:
        gp_temp = pd.DataFrame(gp.profile(focal_genes,significance_threshold_method='fdr',
                                               sources=['GO:BP'],no_evidences=False))
        if len(gp_temp)>0: # make sure data is not empty
            
            # make sure terms are specific, and overlap with at least 3 genes
            gp_temp = gp_temp[(gp_temp['term_size']<1000)]
            gp_temp = gp_temp[gp_temp['intersection_size']>=3]
            
            gp_temp = gp_temp[gp_temp['p_value']<1E-3] # set a stringent pvalue threshold
            
            # try sorting by precision + recall
            #gp_temp['prec_plus_recall']=gp_temp['precision']+gp_temp['recall']
            gp_temp = gp_temp.sort_values('p_value',ascending=True)
            
            gp_temp.index=gp_temp['name']
            for t in gp_temp.index.tolist():
                if t.lower().find('dopamin')>-1:
                    print(gp_temp.loc[t][['p_value','intersections']])
                    
            gp_cols_keep = ['description','name','p_value','precision','recall',
                            'query_size','effective_domain_size','intersection_size','native','source',
                           'term_size','intersections']

            
            if len(gp_temp)>1:
                system_name_list.append(gp_temp.head(1)['name'].tolist()[0])
                gp_temp[gp_cols_keep].to_csv('../tables/rat_human_BMI_hierarchy_GO/'+str(p)+'.csv',sep=',',
                          index=False)
            else:
                system_name_list.append(p)
        else:
            system_name_list.append(p)
            

        display(gp_temp.head())
        
    else:
        system_name_list.append(p)

C1121
472

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
Rho protein signal transduction,"""A series of molecular signals within the cell...",18123,16,"[CDC42EP3, ARHGAP35, STARD13, CDC42EP2, CDC42E...",Rho protein signal transduction,GO:0007266,0.000191,[GO:0007265],0.037037,query_1,432,0.117647,True,GO:BP,136,"[[IBA], [ISS, IEA], [IBA], [IBA], [IBA], [IBA,..."
regulation of cell morphogenesis,"""Any process that modulates the frequency, rat...",18123,24,"[CDC42EP3, ARHGAP35, ZRANB1, CDC42EP2, CDC42EP...",regulation of cell morphogenesis,GO:0022604,0.000499,"[GO:0000902, GO:0022603]",0.055556,query_1,432,0.076923,True,GO:BP,312,"[[IBA, IEA], [IEA], [IMP], [IDA, IBA, IEA], [I..."
regulation of lipoprotein lipase activity,"""Any process that modulates the activity of th...",18123,7,"[ANGPTL4, GPIHBP1, APOC2, PCSK6, FURIN, ANGPTL...",regulation of lipoprotein lipase activity,GO:0051004,0.000770,[GO:0060191],0.016204,query_1,432,0.291667,True,GO:BP,24,"[[IDA, IEA], [IDA, IMP, IBA, TAS], [IDA, IBA],..."
actin cytoskeleton organization,"""A process that is carried out at the cellular...",18123,39,"[CDC42EP3, ARHGAP35, STARD13, CDC42BPG, CAP1, ...",actin cytoskeleton organization,GO:0030036,0.000770,"[GO:0007010, GO:0030029]",0.090278,query_1,432,0.054775,True,GO:BP,712,"[[IBA], [ISS, IEA], [IBA], [ISS, IBA, IEA], [I..."
regulation of cell shape,"""Any process that modulates the surface config...",18123,16,"[CDC42EP3, ARHGAP35, CDC42EP2, CDC42EP1, PLXNB...",regulation of cell shape,GO:0008360,0.000770,"[GO:0022604, GO:0065008]",0.037037,query_1,432,0.101911,True,GO:BP,157,"[[IBA, IEA], [IEA], [IDA, IBA, IEA], [IDA, IBA..."

C1152
6

Empty DataFrame
Columns: []
Index: []

C1153
6

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1157
5

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1158
5

Empty DataFrame
Columns: []
Index: []

C1160
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1161
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1163
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1164
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1165
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1167
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1172
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1122
180

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
regulation of lipoprotein lipase activity,"""Any process that modulates the activity of th...",18123,7,"[ANGPTL4, APOC2, PCSK6, FURIN, GPIHBP1, ANGPTL...",regulation of lipoprotein lipase activity,GO:0051004,0.000007,[GO:0060191],0.040000,query_1,175,0.291667,True,GO:BP,24,"[[IDA, IEA], [IDA, IBA], [TAS], [TAS], [IDA, I..."
Rho protein signal transduction,"""A series of molecular signals within the cell...",18123,11,"[CDC42EP3, CFL1, STARD13, CDC42EP2, CDC42EP1, ...",Rho protein signal transduction,GO:0007266,0.000099,[GO:0007265],0.062857,query_1,175,0.080882,True,GO:BP,136,"[[IBA], [TAS], [IBA], [IBA], [IBA], [IBA, IEA]..."
histone lysine demethylation,"""The modification of a histone by the removal ...",18123,6,"[KDM8, KDM4C, KDM7A, PHF2, KDM2A, KDM6B]",histone lysine demethylation,GO:0070076,0.000226,[GO:0016577],0.034286,query_1,175,0.200000,True,GO:BP,30,"[[IDA, IBA], [IDA, IMP], [IDA, IEA], [IEA], [I..."
actin cytoskeleton organization,"""A process that is carried out at the cellular...",18123,23,"[CDC42EP3, CASS4, ARHGAP26, LIMA1, PHLDB2, CFL...",actin cytoskeleton organization,GO:0030036,0.000226,"[GO:0007010, GO:0030029]",0.131429,query_1,175,0.032303,True,GO:BP,712,"[[IBA], [IBA], [NAS, IEA], [IDA, IBA, IEA], [I..."
histone demethylation,"""The modification of histones by removal of me...",18123,6,"[KDM8, KDM4C, KDM7A, PHF2, KDM2A, KDM6B]",histone demethylation,GO:0016577,0.000272,"[GO:0006482, GO:0016570]",0.034286,query_1,175,0.187500,True,GO:BP,32,"[[IDA, IBA], [IDA, IMP], [IDA, IEA], [IEA], [I..."

C1123
136

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1124
90

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
mitochondrion organization,"""A process that is carried out at the cellular...",18123,16,"[PRDX3, HIGD2A, COX14, SMIM20, TIMM44, NDUFB10...",mitochondrion organization,GO:0007005,0.000003,[GO:0006996],0.205128,query_1,78,0.028319,True,GO:BP,565,"[[IMP], [IBA], [IMP, IBA, TAS], [IDA, IBA, IEA..."
mitochondrial respiratory chain complex assembly,"""The aggregation, arrangement and bonding toge...",18123,7,"[COX14, SMIM20, NDUFB10, TIMMDC1, NDUFV1, NDUF...",mitochondrial respiratory chain complex assembly,GO:0033108,0.000165,"[GO:0007005, GO:0034622]",0.089744,query_1,78,0.067961,True,GO:BP,103,"[[IMP, IBA, TAS], [IDA, IBA, IEA], [IMP, TAS],..."
mitochondrial translational termination,"""The process resulting in the release of a pol...",18123,6,"[MRPL49, MRPL23, MRPL11, MRPL51, MRPL43, MRPL4]",mitochondrial translational termination,GO:0070126,0.000530,"[GO:0006415, GO:0032543]",0.076923,query_1,78,0.068182,True,GO:BP,88,"[[TAS], [TAS], [TAS], [TAS], [TAS], [TAS]]"
mitochondrial translational elongation,"""The successive addition of amino acid residue...",18123,6,"[MRPL49, MRPL23, MRPL11, MRPL51, MRPL43, MRPL4]",mitochondrial translational elongation,GO:0070125,0.000530,"[GO:0006414, GO:0032543]",0.076923,query_1,78,0.068966,True,GO:BP,87,"[[TAS], [TAS], [TAS], [TAS], [TAS], [TAS]]"

C1129
20

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
sphingolipid biosynthetic process,"""The chemical reactions and pathways resulting...",18123,6,"[ELOVL7, CERS4, CERS5, CLN8, FAM57B, CERS2]",sphingolipid biosynthetic process,GO:0030148,1.489627e-09,"[GO:0006665, GO:0046467, GO:1901566]",0.666667,query_1,9,0.053571,True,GO:BP,112,"[[IBA], [IDA, IBA, TAS], [IDA, IBA, TAS, IEA],..."
membrane lipid biosynthetic process,"""The chemical reactions and pathways resulting...",18123,6,"[ELOVL7, CERS4, CERS5, CLN8, FAM57B, CERS2]",membrane lipid biosynthetic process,GO:0046467,4.609443e-09,"[GO:0006643, GO:0008610, GO:0044249]",0.666667,query_1,9,0.039735,True,GO:BP,151,"[[IBA], [IDA, IBA, TAS], [IDA, IBA, TAS, IEA],..."
sphingolipid metabolic process,"""The chemical reactions and pathways involving...",18123,6,"[ELOVL7, CERS4, CERS5, CLN8, FAM57B, CERS2]",sphingolipid metabolic process,GO:0006665,6.311676e-09,"[GO:0006643, GO:1901564]",0.666667,query_1,9,0.035294,True,GO:BP,170,"[[IBA], [IDA, IBA, TAS, IEA], [IDA, IBA, TAS, ..."
ceramide biosynthetic process,"""The chemical reactions and pathways resulting...",18123,5,"[CERS4, CERS5, CLN8, FAM57B, CERS2]",ceramide biosynthetic process,GO:0046513,8.560029e-09,"[GO:0006672, GO:0030148, GO:0043604]",0.555556,query_1,9,0.071429,True,GO:BP,70,"[[IDA, IBA], [IDA, IBA, IEA], [NAS], [IBA, IEA..."
membrane lipid metabolic process,"""The chemical reactions and pathways involving...",18123,6,"[ELOVL7, CERS4, CERS5, CLN8, FAM57B, CERS2]",membrane lipid metabolic process,GO:0006643,1.705925e-08,[GO:0044255],0.666667,query_1,9,0.027523,True,GO:BP,218,"[[IBA], [IDA, IBA, TAS, IEA], [IDA, IBA, TAS, ..."

C1132
12

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
regulation of small GTPase mediated signal transduction,"""Any process that modulates the frequency, rat...",18123,9,"[FGD3, ARHGEF19, ARHGEF17, ARHGEF18, STARD13, ...",regulation of small GTPase mediated signal tra...,GO:0051056,1.688016e-11,"[GO:0007264, GO:1902531]",0.750000,query_1,12,0.027356,True,GO:BP,329,"[[TAS], [TAS], [TAS], [IBA, TAS], [IBA, TAS], ..."
actin cytoskeleton organization,"""A process that is carried out at the cellular...",18123,10,"[FGD3, ARHGEF19, ARHGEF17, ARHGEF18, ARHGEF15,...",actin cytoskeleton organization,GO:0030036,1.060676e-10,"[GO:0007010, GO:0030029]",0.833333,query_1,12,0.014045,True,GO:BP,712,"[[ISS], [IGI, IBA], [IDA, IBA], [IDA, IMP], [I..."
regulation of GTPase activity,"""Any process that modulates the rate of GTP hy...",18123,9,"[FGD3, ARHGEF19, ARHGEF15, STARD13, FGD5, ARAP...",regulation of GTPase activity,GO:0043087,1.920940e-10,[GO:0051336],0.750000,query_1,12,0.018256,True,GO:BP,493,"[[ISS], [IBA, IEA], [IBA], [IEA], [ISS], [IDA,..."
actin filament-based process,"""Any cellular process that depends upon or alt...",18123,10,"[FGD3, ARHGEF19, ARHGEF17, ARHGEF18, ARHGEF15,...",actin filament-based process,GO:0030029,1.920940e-10,[GO:0009987],0.833333,query_1,12,0.012346,True,GO:BP,810,"[[ISS], [IGI, IBA], [IDA, IBA], [IDA, IMP], [I..."
small GTPase mediated signal transduction,"""Any series of molecular signals in which a sm...",18123,9,"[FGD3, ARHGEF19, ARHGEF17, ARHGEF18, STARD13, ...",small GTPase mediated signal transduction,GO:0007264,2.102606e-10,[GO:0035556],0.750000,query_1,12,0.017308,True,GO:BP,520,"[[TAS], [TAS], [TAS], [IDA, IBA, TAS, IEA], [I..."

C1142
8

Empty DataFrame
Columns: []
Index: []

C1145
7

Empty DataFrame
Columns: []
Index: []

C1149
7

Empty DataFrame
Columns: []
Index: []

C1150
7

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1125
41

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
histone demethylation,"""The modification of histones by removal of me...",18123,6,"[KDM8, KDM4C, PHF2, KDM2A, KDM6B, KDM7A]",histone demethylation,GO:0016577,2.815401e-08,"[GO:0006482, GO:0016570]",0.157895,query_1,38,0.187500,True,GO:BP,32,"[[IDA, IBA], [IDA, IMP], [IEA], [IMP], [IMP, I..."
protein dealkylation,"""The removal of an alkyl group from a protein ...",18123,6,"[KDM8, KDM4C, PHF2, KDM2A, KDM6B, KDM7A]",protein dealkylation,GO:0008214,2.815401e-08,[GO:0006464],0.157895,query_1,38,0.176471,True,GO:BP,34,"[[IDA, IBA], [IDA, IMP], [IDA, IBA, IEA], [IMP..."
histone lysine demethylation,"""The modification of a histone by the removal ...",18123,6,"[KDM8, KDM4C, PHF2, KDM2A, KDM6B, KDM7A]",histone lysine demethylation,GO:0070076,2.815401e-08,[GO:0016577],0.157895,query_1,38,0.200000,True,GO:BP,30,"[[IDA, IBA], [IDA, IMP], [IEA], [IMP], [IMP, I..."
protein demethylation,"""The removal of a methyl group, from a protein...",18123,6,"[KDM8, KDM4C, PHF2, KDM2A, KDM6B, KDM7A]",protein demethylation,GO:0006482,2.815401e-08,"[GO:0008214, GO:0070988]",0.157895,query_1,38,0.176471,True,GO:BP,34,"[[IDA, IBA], [IDA, IMP], [IDA, IBA, IEA], [IMP..."
histone H3-K36 demethylation,"""The modification of histone H3 by the removal...",18123,4,"[KDM8, KDM4C, KDM2A, KDM7A]",histone H3-K36 demethylation,GO:0070544,1.063956e-06,[GO:0070076],0.105263,query_1,38,0.400000,True,GO:BP,10,"[[IDA, IBA], [IDA], [IMP], [IDA]]"

C1127
25

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
elastic fiber assembly,"""Assembly of the extracellular matrix fibers t...",18123,3,"[LTBP3, LTBP4, EFEMP2]",elastic fiber assembly,GO:0048251,0.000186,"[GO:0085029, GO:0097435]",0.12,query_1,25,0.272727,True,GO:BP,11,"[[IBA], [ISS], [IMP, ISS, IEA]]"
extracellular matrix assembly,"""The aggregation, arrangement and bonding toge...",18123,4,"[LTBP3, PHLDB2, LTBP4, EFEMP2]",extracellular matrix assembly,GO:0085029,0.000186,"[GO:0022607, GO:0030198]",0.16,query_1,25,0.085106,True,GO:BP,47,"[[IBA], [IMP, IGI], [ISS], [IMP, ISS, IEA]]"

C1128
23

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
regulation of lipoprotein lipase activity,"""Any process that modulates the activity of th...",18123,7,"[PCSK6, FURIN, APOA4, ANGPTL4, APOC2, GPIHBP1,...",regulation of lipoprotein lipase activity,GO:0051004,5.800260e-13,[GO:0060191],0.318182,query_1,22,0.291667,True,GO:BP,24,"[[TAS], [TAS], [IDA, IBA], [IDA, IEA], [IDA, I..."
triglyceride homeostasis,"""Any process involved in the maintenance of an...",18123,6,"[APOA4, ANGPTL4, APOC2, GPIHBP1, APOE, ANGPTL3]",triglyceride homeostasis,GO:0070328,2.395513e-09,[GO:0055090],0.272727,query_1,22,0.150000,True,GO:BP,40,"[[IBA], [ISS, IBA, IEA], [IMP], [IMP, IBA], [I..."
acylglycerol homeostasis,"""Any process involved in the maintenance of an...",18123,6,"[APOA4, ANGPTL4, APOC2, GPIHBP1, APOE, ANGPTL3]",acylglycerol homeostasis,GO:0055090,2.395513e-09,[GO:0055088],0.272727,query_1,22,0.150000,True,GO:BP,40,"[[IBA], [ISS, IBA, IEA], [IMP], [IMP, IBA], [I..."
regulation of lipase activity,"""Any process that modulates the frequency, rat...",18123,7,"[PCSK6, FURIN, APOA4, ANGPTL4, APOC2, GPIHBP1,...",regulation of lipase activity,GO:0060191,6.814170e-09,[GO:0051336],0.318182,query_1,22,0.069307,True,GO:BP,101,"[[TAS], [TAS], [IDA, IBA], [IDA, IEA], [IDA, I..."
chylomicron remodeling,"""The acquisition, loss or modification of a pr...",18123,4,"[APOA4, APOC2, GPIHBP1, APOE]",chylomicron remodeling,GO:0034371,5.173170e-08,[GO:0034370],0.181818,query_1,22,0.444444,True,GO:BP,9,"[[TAS, IC], [TAS, IC], [TAS], [TAS]]"

C1159
4

Empty DataFrame
Columns: []
Index: []

C1138
8

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
regulation of cell morphogenesis,"""Any process that modulates the frequency, rat...",18123,7,"[CDC42EP4, CDC42EP3, CASS4, CDC42SE2, CDC42EP2...",regulation of cell morphogenesis,GO:0022604,5.039154e-10,"[GO:0000902, GO:0022603]",0.875,query_1,8,0.022436,True,GO:BP,312,"[[IDA, IBA, IEA], [IBA, IEA], [IMP], [IEA], [I..."
Rho protein signal transduction,"""A series of molecular signals within the cell...",18123,6,"[CDC42EP4, CDC42EP3, CDC42SE2, CDC42EP2, CDC42...",Rho protein signal transduction,GO:0007266,5.039154e-10,[GO:0007265],0.750,query_1,8,0.044118,True,GO:BP,136,"[[IBA, IEA], [IBA], [IEA], [IBA], [IEA], [IBA]]"
positive regulation of pseudopodium assembly,"""Any process that activates or increases the f...",18123,4,"[CDC42EP4, CDC42EP3, CDC42EP2, CDC42EP1]",positive regulation of pseudopodium assembly,GO:0031274,6.339035e-10,"[GO:0031269, GO:0031272, GO:0120034]",0.500,query_1,8,0.307692,True,GO:BP,13,"[[IDA, IBA], [IBA], [IDA, IBA], [IDA, IBA]]"
regulation of cell shape,"""Any process that modulates the surface config...",18123,6,"[CDC42EP4, CDC42EP3, CDC42SE2, CDC42EP2, CDC42...",regulation of cell shape,GO:0008360,6.339035e-10,"[GO:0022604, GO:0065008]",0.750,query_1,8,0.038217,True,GO:BP,157,"[[IDA, IBA, IEA], [IBA, IEA], [IEA], [IDA, IBA..."
regulation of pseudopodium assembly,"""Any process that modulates the frequency, rat...",18123,4,"[CDC42EP4, CDC42EP3, CDC42EP2, CDC42EP1]",regulation of pseudopodium assembly,GO:0031272,7.098465e-10,"[GO:0031269, GO:0120032]",0.500,query_1,8,0.285714,True,GO:BP,14,"[[IDA, IBA], [IBA], [IDA, IBA], [IDA, IBA]]"

C1139
8

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1141
8

Empty DataFrame
Columns: []
Index: []

C1144
7

Empty DataFrame
Columns: []
Index: []

C1146
7

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
cell fate commitment,"""The commitment of cells to specific cell fate...",18123,6,"[TBX3, TBX2, WNT5B, GLI3, DHH, GLI2]",cell fate commitment,GO:0045165,3.451054e-08,"[GO:0030154, GO:0048869]",0.857143,query_1,7,0.022472,True,GO:BP,267,"[[IBA, IEA], [ISS, IBA, IEA], [IBA], [IEA], [I..."
cell fate specification,"""The process involved in the specification of ...",18123,5,"[TBX3, TBX2, GLI3, DHH, GLI2]",cell fate specification,GO:0001708,3.451054e-08,"[GO:0045165, GO:0048869]",0.714286,query_1,7,0.053191,True,GO:BP,94,"[[IBA], [IBA], [IEA], [IBA], [ISS, IEA]]"
mammary gland morphogenesis,"""The process in which anatomical structures of...",18123,4,"[TBX3, TBX2, GLI3, GLI2]",mammary gland morphogenesis,GO:0060443,3.033017e-07,"[GO:0022612, GO:0030879]",0.571429,query_1,7,0.088889,True,GO:BP,45,"[[IEA], [IEA], [IEA], [IEA]]"
mammary gland formation,"""The process pertaining to the initial formati...",18123,3,"[TBX3, TBX2, GLI3]",mammary gland formation,GO:0060592,3.033017e-07,"[GO:0048646, GO:0060443]",0.428571,query_1,7,0.428571,True,GO:BP,7,"[[IEA], [IEA], [IEA]]"
embryonic digit morphogenesis,"""The process, occurring in the embryo, by whic...",18123,4,"[TBX3, TBX2, GLI3, GLI2]",embryonic digit morphogenesis,GO:0042733,6.450875e-07,"[GO:0030326, GO:0048598]",0.571429,query_1,7,0.068966,True,GO:BP,58,"[[IMP, IEA], [ISS, IEA], [TAS, IEA], [IEA]]"

C1151
6

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
cleavage furrow formation,"""Generation of the cleavage furrow, a shallow ...",18123,3,"[SNX18, SNX9, SNX33]",cleavage furrow formation,GO:0036089,3.731392e-07,"[GO:0032506, GO:0061640, GO:0099024]",0.500000,query_1,6,0.428571,True,GO:BP,7,"[[IMP], [IMP], [IMP]]"
plasma membrane tubulation,"""A membrane tubulation process occurring in a ...",18123,3,"[DNM2, SNX9, SNX33]",plasma membrane tubulation,GO:0097320,6.067032e-06,[GO:0007009],0.500000,query_1,6,0.150000,True,GO:BP,20,"[[IDA], [IDA], [IDA]]"
cytokinetic process,"""A cellular process that is involved in cytoki...",18123,3,"[SNX18, SNX9, SNX33]",cytokinetic process,GO:0032506,2.986380e-05,"[GO:0000910, GO:0022402]",0.500000,query_1,6,0.078947,True,GO:BP,38,"[[IMP], [IMP], [IMP]]"
endosomal transport,"""The directed movement of substances mediated ...",18123,4,"[SNX18, SNX9, SNX33, SNX32]",endosomal transport,GO:0016197,6.227124e-05,"[GO:0016192, GO:0046907]",0.666667,query_1,6,0.016393,True,GO:BP,244,"[[IMP], [IMP], [IMP], [IBA]]"
mitotic cytokinesis,"""A cell cycle process that results in the divi...",18123,3,"[SNX18, SNX9, SNX33]",mitotic cytokinesis,GO:0000281,9.790896e-05,"[GO:0061640, GO:1903047]",0.500000,query_1,6,0.040541,True,GO:BP,74,"[[IMP], [IMP, IEA], [IMP, IEA]]"

C1156
5

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1162
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1169
4

Empty DataFrame
Columns: []
Index: []

C1170
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1171
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1147
7

Empty DataFrame
Columns: []
Index: []

C1168
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1174
4

Empty DataFrame
Columns: []
Index: []

C1126
29

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
mitochondrion organization,"""A process that is carried out at the cellular...",18123,10,"[FMC1, COX14, NDUFA2, FIS1, SMIM20, HIGD2A, UB...",mitochondrion organization,GO:0007005,3.868289e-07,[GO:0006996],0.434783,query_1,23,0.017699,True,GO:BP,565,"[[IMP], [IMP, IBA, TAS], [IMP, TAS], [IDA, IMP..."
mitochondrial respiratory chain complex assembly,"""The aggregation, arrangement and bonding toge...",18123,5,"[COX14, NDUFA2, SMIM20, NDUFB10, TIMMDC1]",mitochondrial respiratory chain complex assembly,GO:0033108,5.070348e-05,"[GO:0007005, GO:0034622]",0.217391,query_1,23,0.048544,True,GO:BP,103,"[[IMP, IBA, TAS], [IMP, TAS], [IDA, IBA, IEA],..."

C1143
7

Empty DataFrame
Columns: []
Index: []

C1136
9

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
histone lysine demethylation,"""The modification of a histone by the removal ...",18123,6,"[KDM6B, KDM7A, PHF2, KDM2A, KDM8, KDM4C]",histone lysine demethylation,GO:0070076,5.557025e-14,[GO:0016577],0.75,query_1,8,0.200000,True,GO:BP,30,"[[IMP, IBA, IEA], [IDA, IEA], [IEA], [IMP], [I..."
histone demethylation,"""The modification of histones by removal of me...",18123,6,"[KDM6B, KDM7A, PHF2, KDM2A, KDM8, KDM4C]",histone demethylation,GO:0016577,5.557025e-14,"[GO:0006482, GO:0016570]",0.75,query_1,8,0.187500,True,GO:BP,32,"[[IMP, IBA, IEA], [IDA, IEA], [IEA], [IMP], [I..."
protein dealkylation,"""The removal of an alkyl group from a protein ...",18123,6,"[KDM6B, KDM7A, PHF2, KDM2A, KDM8, KDM4C]",protein dealkylation,GO:0008214,5.557025e-14,[GO:0006464],0.75,query_1,8,0.176471,True,GO:BP,34,"[[IMP, IBA, IEA], [IDA, IBA, IEA], [IDA, IBA, ..."
protein demethylation,"""The removal of a methyl group, from a protein...",18123,6,"[KDM6B, KDM7A, PHF2, KDM2A, KDM8, KDM4C]",protein demethylation,GO:0006482,5.557025e-14,"[GO:0008214, GO:0070988]",0.75,query_1,8,0.176471,True,GO:BP,34,"[[IMP, IBA, IEA], [IDA, IBA, IEA], [IDA, IBA, ..."
demethylation,"""The process of removing one or more methyl gr...",18123,6,"[KDM6B, KDM7A, PHF2, KDM2A, KDM8, KDM4C]",demethylation,GO:0070988,6.100334e-12,[GO:0008152],0.75,query_1,8,0.081081,True,GO:BP,74,"[[IMP, IBA, IEA], [IDA, IBA, IEA], [IDA, IBA, ..."

C1130
19

Empty DataFrame
Columns: []
Index: []

C1131
16

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
elastic fiber assembly,"""Assembly of the extracellular matrix fibers t...",18123,3,"[LTBP4, EFEMP2, LTBP3]",elastic fiber assembly,GO:0048251,0.000038,"[GO:0085029, GO:0097435]",0.1875,query_1,16,0.272727,True,GO:BP,11,"[[ISS], [IMP, ISS, IEA], [IBA]]"

C1140
8

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1137
9

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
regulation of lipoprotein lipase activity,"""Any process that modulates the activity of th...",18123,6,"[PCSK6, APOC2, GPIHBP1, APOA4, ANGPTL4, ANGPTL3]",regulation of lipoprotein lipase activity,GO:0051004,2.075685e-13,[GO:0060191],0.666667,query_1,9,0.250000,True,GO:BP,24,"[[TAS], [IDA, IBA], [IDA, IMP, IBA, TAS], [IDA..."
acylglycerol homeostasis,"""Any process involved in the maintenance of an...",18123,6,"[APOC2, GPIHBP1, APOA4, ANGPTL4, ANGPTL3, APOE]",acylglycerol homeostasis,GO:0055090,1.968650e-12,[GO:0055088],0.666667,query_1,9,0.150000,True,GO:BP,40,"[[IMP], [IMP, IBA], [IBA], [ISS, IBA, IEA], [I..."
triglyceride homeostasis,"""Any process involved in the maintenance of an...",18123,6,"[APOC2, GPIHBP1, APOA4, ANGPTL4, ANGPTL3, APOE]",triglyceride homeostasis,GO:0070328,1.968650e-12,[GO:0055090],0.666667,query_1,9,0.150000,True,GO:BP,40,"[[IMP], [IMP, IBA], [IBA], [ISS, IBA, IEA], [I..."
regulation of lipase activity,"""Any process that modulates the frequency, rat...",18123,6,"[PCSK6, APOC2, GPIHBP1, APOA4, ANGPTL4, ANGPTL3]",regulation of lipase activity,GO:0060191,4.832853e-10,[GO:0051336],0.666667,query_1,9,0.059406,True,GO:BP,101,"[[TAS], [IDA, IBA], [IDA, IMP, IBA, TAS], [IDA..."
chylomicron remodeling,"""The acquisition, loss or modification of a pr...",18123,4,"[APOC2, GPIHBP1, APOA4, APOE]",chylomicron remodeling,GO:0034371,6.388147e-10,[GO:0034370],0.444444,query_1,9,0.444444,True,GO:BP,9,"[[TAS, IC], [TAS], [TAS, IC], [TAS]]"

C1134
11

Empty DataFrame
Columns: []
Index: []

C1133
11

,description,effective_domain_size,intersection_size,intersections,name,native,p_value,parents,precision,query,query_size,recall,significant,source,term_size,evidences
name,,,,,,,,,,,,,,,,
sphingolipid biosynthetic process,"""The chemical reactions and pathways resulting...",18123,6,"[CLN8, FAM57B, ELOVL7, CERS4, CERS5, CERS2]",sphingolipid biosynthetic process,GO:0030148,1.192900e-10,"[GO:0006665, GO:0046467, GO:1901566]",0.857143,query_1,7,0.053571,True,GO:BP,112,"[[NAS], [IBA, IEA], [IBA], [IDA, IBA, TAS], [I..."
membrane lipid biosynthetic process,"""The chemical reactions and pathways resulting...",18123,6,"[CLN8, FAM57B, ELOVL7, CERS4, CERS5, CERS2]",membrane lipid biosynthetic process,GO:0046467,3.704985e-10,"[GO:0006643, GO:0008610, GO:0044249]",0.857143,query_1,7,0.039735,True,GO:BP,151,"[[NAS], [IBA, IEA], [IBA], [IDA, IBA, TAS], [I..."
sphingolipid metabolic process,"""The chemical reactions and pathways involving...",18123,6,"[CLN8, FAM57B, ELOVL7, CERS4, CERS5, CERS2]",sphingolipid metabolic process,GO:0006665,5.082401e-10,"[GO:0006643, GO:1901564]",0.857143,query_1,7,0.035294,True,GO:BP,170,"[[IMP, NAS], [IBA, IEA], [IBA], [IDA, IBA, TAS..."
ceramide biosynthetic process,"""The chemical reactions and pathways resulting...",18123,5,"[CLN8, FAM57B, CERS4, CERS5, CERS2]",ceramide biosynthetic process,GO:0046513,1.365417e-09,"[GO:0006672, GO:0030148, GO:0043604]",0.714286,query_1,7,0.071429,True,GO:BP,70,"[[NAS], [IBA, IEA], [IDA, IBA], [IDA, IBA, IEA..."
membrane lipid metabolic process,"""The chemical reactions and pathways involving...",18123,6,"[CLN8, FAM57B, ELOVL7, CERS4, CERS5, CERS2]",membrane lipid metabolic process,GO:0006643,1.379982e-09,[GO:0044255],0.857143,query_1,7,0.027523,True,GO:BP,218,"[[IMP, NAS], [IBA, IEA], [IBA], [IDA, IBA, TAS..."

C1135
9

Empty DataFrame
Columns: []
Index: []

C1148
7

Empty DataFrame
Columns: []
Index: []

C1154
5

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1155
5

Empty DataFrame
Columns: []
Index: []

C1173
4

Empty DataFrame
Columns: [description, effective_domain_size, intersection_size, intersections, name, native, p_value, parents, precision, query, query_size, recall, significant, source, term_size, evidences]
Index: []

C1166
4

Empty DataFrame
Columns: []
Index: []

In [25]:
system_name_list

['Rho protein signal transduction',
 'C1152',
 'C1153',
 'C1157',
 'C1158',
 'C1160',
 'C1161',
 'C1163',
 'C1164',
 'C1165',
 'C1167',
 'C1172',
 'regulation of lipoprotein lipase activity',
 'C1123',
 'mitochondrion organization',
 'sphingolipid biosynthetic process',
 'regulation of small GTPase mediated signal transduction',
 'C1142',
 'C1145',
 'C1149',
 'C1150',
 'histone demethylation',
 'elastic fiber assembly',
 'regulation of lipoprotein lipase activity',
 'C1159',
 'regulation of cell morphogenesis',
 'C1139',
 'C1141',
 'C1144',
 'cell fate commitment',
 'cleavage furrow formation',
 'C1156',
 'C1162',
 'C1169',
 'C1170',
 'C1171',
 'C1147',
 'C1168',
 'C1174',
 'mitochondrion organization',
 'C1143',
 'histone lysine demethylation',
 'C1130',
 'C1131',
 'C1140',
 'regulation of lipoprotein lipase activity',
 'C1134',
 'sphingolipid biosynthetic process',
 'C1135',
 'C1148',
 'C1154',
 'C1155',
 'C1173',
 'C1166']

# Load annotated hierarchy to ndex

In [27]:
d1='rat'
d2='human'
# add the best gprofiler annotation
MP_full_results_df = pd.DataFrame()
MP_full_results_df['gprofiler_name']=pd.Series(system_name_list,index=hier_df.index.tolist())
# don't annotate the root node
MP_full_results_df['gprofiler_name'].loc[root_node]=d1+'-'+d2+'HEIGHT systems map'

# also add the frac_seeds/num_seeds data here
MP_full_results_df=MP_full_results_df.join(hier_df[['num_d1_seeds','num_d2_seeds','frac_d1_seeds','frac_d2_seeds','frac_no_seeds']],
                                          how='left')

MP_full_results_df.head()

,gprofiler_name,num_d1_seeds,num_d2_seeds,frac_d1_seeds,frac_d2_seeds,frac_no_seeds
C1121,rat-humanHEIGHT systems map,302,127,0.639831,0.269068,0.091102
C1152,C1152,3,1,0.500000,0.166667,0.333333
C1153,C1153,2,2,0.333333,0.333333,0.333333
C1157,C1157,4,2,0.800000,0.400000,-0.200000
C1158,C1158,2,1,0.400000,0.200000,0.400000

In [28]:
# Convert G_hier to nice cx network
node_id_to_node_name = nx.get_node_attributes(G_hier, 'name')
for node_id in list(G_hier.nodes):
    del G_hier.nodes[node_id]['name']

G_hier_cx = ndex2.create_nice_cx_from_networkx(G_hier)

for node_id, node in G_hier_cx.get_nodes():
    node['n'] = node_id_to_node_name[node_id]

In [29]:
G_hier_cx.set_name('rat_human_HEIGHT_systems_map') 
for node_id, node in G_hier_cx.get_nodes():
    data = MP_full_results_df.loc[node['r']]
    #print(data)
    for row, value in data.items():
        if (row.find('gene_ids')>-1) or (row=='gprofiler_name'):
            data_type = "string"
            value=str(value)
        else:
            data_type = "double"
            value = str(value) # nice cx can only accept strings as values...
            if value=='inf': # check if inf, set to -1 if so
                value='-1'
            
        #print(value)
        #print(type(value))
        G_hier_cx.set_node_attribute(node_id, row, value, type=data_type)
        
# some CDAPs properties were corrupted on networkx conversion. Fix them here
for node_id, node in G_hier_cx.get_nodes():
    for i in np.arange(len(G_hier_cx.nodeAttributes[node_id])):
        dict_temp = G_hier_cx.nodeAttributes[node_id][i]
        if dict_temp['n'] in ['CD_MemberList_Size','CD_MemberList_LogSize','HiDeF_persistence']:
            G_hier_cx.set_node_attribute(node_id, dict_temp['n'], dict_temp['v'], type='double',overwrite=True)
            
# apply a template style (36041bac-d2e3-11eb-b666-0ac135e8bacf)
G_hier_cx.apply_template('ndexbio.org','36041bac-d2e3-11eb-b666-0ac135e8bacf')

In [30]:
#Upload to NDEx

SERVER = input('NDEx server (probably ndexbio.org): ')
USERNAME = input('NDEx user name: ')
PASSWORD = getpass.getpass('NDEx password: ')
network_uuid = G_hier_cx.upload_to(SERVER, USERNAME, PASSWORD)

NDEx server (probably ndexbio.org): ndexbio.org
NDEx user name: sbrosenthal@health.ucsd.edu
NDEx password: ········
Generating CX